#!/bin/sh
#
# created by : meinside@gmail.com
#
# last update: 2014.01.24.
#

################
# customize these:

# mjpg_streamer's install location
MJPG_STREAMER_INSTALL="/home/pi/builds/mjpg-streamer"

# mjpg_streamer excutable's location
MJPG_STREAMER="$MJPG_STREAMER_INSTALL/mjpg_streamer"

# streaming port
MJPG_STREAMER_PORT="8080"

# htmls and related files' location
MJPG_STREAMER_WWW="$MJPG_STREAMER_INSTALL/www"

# video device
DEVICE_IN="/dev/video0"

# video settings
RESOLUTION="640x480"
FPS=24

# authentication
USERNAME="pi"
PASSWORD="raspberry"
if [ ! -z $USERNAME ] && [ ! -z $PASSWORD ]; then
	AUTH="-c $USERNAME:$PASSWORD"
else
	AUTH=""
fi

# LED blink
LED="off"	# on/off/blink/auto (may not work on rpi camera modules)

# plugin
PLUGIN_IN="$MJPG_STREAMER_INSTALL/input_uvc.so -d $DEVICE_IN -r $RESOLUTION -f $FPS -l $LED"
PLUGIN_OUT="$MJPG_STREAMER_INSTALL/output_http.so -p $MJPG_STREAMER_PORT -w $MJPG_STREAMER_WWW $AUTH"



################
# run mjpg_streamer
$MJPG_STREAMER -i "$PLUGIN_IN" -o "$PLUGIN_OUT"
################

